* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*-------------------------- Nav */





/*-------------------------- Header */





/*-------------------------- Main */





/*-------------------------- Footer */